/* $lightblue: rgb(113, 196, 194);
$mediumblue: rgb(57, 162, 174);
$white: rgb(247, 247, 247);
$beige: rgb(232, 216, 210);
$pink: rgb(227, 188, 181); */

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  background-color: rgb(247, 247, 247);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vh;
  height: 10vh;
  background-color: rgb(57, 162, 174);
}

a, a:visited {
  padding: 5vh;
  color: rgb(247, 247, 247);
  text-decoration: none;
  font-weight: 550;
}

a:hover {
  font-weight: 650;
  color: white;
}

.signout-btn, .upload-btn {
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border-radius:2em;
  font-weight: 550;
  color: rgb(26, 114, 126);
  background-color: rgb(247, 247, 247);
  border-color: rgb(26, 114, 126);
  box-sizing: border-box;
  border-width: 1.5px;
  cursor: pointer;
}

.signout-btn:hover, .upload-btn:hover {
  color: rgb(247, 247, 247);
      background-color: rgb(18, 75, 82);
  }

  .btn {
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border-radius:2em;
    font-weight: 550;
    color: rgb(196, 91, 73);
    background-color: rgb(247, 247, 247);
    border-color: rgb(196, 91, 73);
    box-sizing: border-box;
    border-width: 1.5px;
    cursor: pointer;
  }
  
  .btn:hover {
    color: rgb(247, 247, 247);
        background-color: rgb(196, 91, 73);
    }

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  min-height: calc(100vh - 5vh);
}

.profile {
  display: flex;
  flex-direction: column;
}

.all-items {
  display: flex;
}

.about,
.user-info,
.add-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-p, ul {
  padding: 1rem;
}

.upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh 50vh 0 50vh;
}

#add-book-btn {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;  
}

.books, .audioclass  {
    flex: 1;
}

.about, .user-info {
  margin: 2rem 0 0 0;
}

.book-heading {
  margin: 2rem;
}

.upload-heading {
  margin-top: 2rem;
}

.height-div { 
  display: block;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  min-height: 25px;
  background-color: rgb(232, 216, 210);
}

.height-div2 { 
  min-height: 25px;
  background-color: rgb(232, 216, 210);
}

.single-book,
.add-book,
.login-class {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  background-color: rgb(232, 216, 210);
  border-radius: 0.5em;
}

.login-class {
  justify-content: center;
  align-items: center;
}

.form-class {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2vh;
}

.signin-heading {
  padding: 1.5vh 0;
}

.add-book {
  background-color: rgb(227, 188, 181);
  min-width: 70%;
  padding: 1vh;
  display: flex;
}

img, .item-p {
  padding: 1vh;
}

#form-container {
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  background-color: rgb(57, 162, 174);
}
