/* $lightblue: rgb(113, 196, 194);
$mediumblue: rgb(57, 162, 174);
$white: rgb(247, 247, 247);
$beige: rgb(232, 216, 210);
$pink: rgb(227, 188, 181); */

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  background-color: rgb(247, 247, 247);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: rgb(57, 162, 174);
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signout-btn {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0 auto;
  width: 90%;
}

.all-items, .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.books {
  margin: 1rem;
  width: 100%;
}

.about {
  margin: 2rem 0 0 0;
}

.book-heading {
  margin: 2rem;
}

.single-book {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  margin: 2rem;
  background-color: rgb(232, 216, 210);
}


.footer {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  background-color: rgb(57, 162, 174);
}

.add-items {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.add-book, .add-audio {
  display: flex;
  align-items: center;
  margin: 1rem;
  background-color: rgb(227, 188, 181);
}




